@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	/* background-image: url(../../public/assets/bgray.jpg);
	background-repeat: repeat; */
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(207, 217, 224);
	z-index: -10;
}
